h1, h2, h3, p {
  @media (max-width: 959px) {
    margin: 0 2rem;
  }
}

h1, h2, h3 {
  line-height: 1;
  font-weight: 100;
  color: $white-1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

p {
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.3;
  color: $white-1;

  a {
    color: $blue-2;
    text-decoration: none;
  }
}
