h1, h2, p {
  @media (max-width: 959px) {
    margin: 0 2rem;
  }
}

h1, h2 {
  line-height: 1;
  font-weight: 100;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

p {
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.3;
}
