$body-font-family = 'jaapokki-regular';

@require '~vuetify/src/stylus/settings/_variables.styl';

@font-face {
  font-family: jaapokki-regular;
  src: url('/fonts/jaapokki-regular.ttf');
}

@font-face {
  font-family: cornerstone;
  src: url('/fonts/cornerstone.ttf');
}

$black-1 = #000000;
$white-1 = #ffffff;
$gray-1 = #e1e1e1;
$gray-2 = #3c3d3c;
$blue-1 = #0097aa;
$blue-2 = #1cb3ba;
$blue-3 = #72c6d8;

@import './global.styl';
